@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f4fc;
}

.top-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px; /* Padding to create space around content */
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.social-media a {
    margin: 0 5px;
}

.social-media img {
    width: 24px;
    height: 24px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.coder-image {
    max-width: 100%;
    height: auto;
    width: 500px; /* Adjust this width as necessary to make the image larger */
}

.bottom-section {
    background-color: #d6eaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
    box-sizing: border-box;
    text-align: center;
}

.bottom-section h1 {
    margin: 10px 0;
    font-size: 32px;
}

.bottom-section h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #666;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

input[type="email"]{
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  right:9px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
}

button[type="submit"]{ 
    border:none;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    box-sizing:border-box;
    padding:0 18px;
    cursor:pointer;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
